{% extends 'blogventas/base2.html' %}
{% block titulo %}
<title>Inicio</title>
{% endblock %}
{% block titulopagina %}<h2 class="section-title">QuieroCompu S.A.</h2>{% endblock %}
{% block content %}
<style>
    .tits {
        color: #70198A;
        font-family: 'Kaushan Script', cursive;
        text-align: center;
    }

    .encapub {
        font-family: 'Lobster', cursive;
    }

</style>
      <!--  <h3>{{user.username}}</h3>-->


  <div class="product-carousel">
            {% for post in posts %}
            <div style='height:500px' class="single-product">
              <div style='height:300px' class="product-f-image">
                <img src='{{post.imagen.url}}' class="img-responsive" style='height:300px'/>
                <div class="product-hover">
                                      
                                       <a href="{% url 'detalle' pk=post.pk%}" class="view-details-link"><i class="fa fa-link"></i> Ver detalle</a>
                                   </div>
              </div>
               <h2>{{ post.marca }} - {{ post.modelo }}</h2>
               <div class="product-carousel-price">
                                   <ins>Q. {{ post.precio }}</ins>
                                 </div>
           </div>

            {% endfor %}
    </div>
{% endblock %}
